/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    padding-top: 40px;
    line-height: 1.6;
}

h1 {
    color: #007bff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Container */
.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

/* Card Layout for Input Sections */
.input-section {
    background: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.input-section h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Buttons */
.btn {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-dark-mode {
    background-color: #007bff;
    color: white;
}

.btn-dark-mode:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
/* Nav Tabs */
.nav-tabs .nav-link {
    background-color: #f8f9fa;
    border-color: #dee2e6;
    color: #007bff;
}

.nav-tabs .nav-link.active {
    background-color: white;
    color: #007bff;
    border-color: #dee2e6 #dee2e6 #fff;
}

/* Dark Mode Nav Tabs */
body.dark-mode .nav-tabs .nav-link {
    background-color: #343a40;
    color: #ffffff;
    border-color: #666f79;
}

body.dark-mode .nav-tabs .nav-link.active {
    background-color: #495057;
    color: #ffffff;
    border-color: #666f79 #666f79 #495057;
}
/* Dark Mode */
body.dark-mode {
    background-color: #343a40;
    color: #ffffff;
}

.dark-mode .container {
    background-color: #495057;
    color: #ffffff;
}

.dark-mode .input-section {
    background: #666f79;
    color: #fff;
}

.dark-mode .input-section label {
    color: #fff;
}

.dark-mode .input-section input[type="number"] {
    background-color: #343a40;
    color: #fff;
    border-color: #777;
}

.dark-mode .form-group input,
.dark-mode .form-group select {
    background-color: #343a40;
    color: #ffffff;
}

.dark-mode .btn-dark-mode {
    background-color: #ffc107;
    color: black;
}

/* Dark Mode Toggle Button */
#darkModeToggle .fa-sun {
    display: none;
}

body.dark-mode #darkModeToggle .fa-moon {
    display: none;
}

body.dark-mode #darkModeToggle .fa-sun {
    display: inline;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .container {
        padding: 20px;
    }

    .btn {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    font-size: 0.8rem;
    color: #666;
}

footer a {
    text-decoration: none;
    color: #007bff;
}

footer a:hover {
    color: #0056b3;
}
